@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hero-background {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #262626 1px, rgba(0, 0, 0, 0) 1px);
}

.gradient {
  background: linear-gradient(120deg, #ff6d4d, #d12600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroungradient {
  background: linear-gradient(120deg, #ff6d4d, #d12600);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.backgroungradient:hover {
  box-shadow: 0px 8px 12px #d12600;
  transform: translateY(-7px);
}

.backgroungradient:active {
  transform: translateY(-1px);
}

.herobutton {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

.herobutton span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.herobutton span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.herobutton span:not(hover) {
  transition: all 1s;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e37b0d 94%, #0000) top/6.4px 6.4px
      no-repeat,
    conic-gradient(#0000 30%, #e37b0d);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 6.4px),
    #000 0
  );
  animation: spinner-c7wet2 0.6s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.ql-toolbar {
  display: flex;
  top: 0;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ededef;
  z-index: 50;
}

.ql-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 100vh;
  margin-top: 10px;
}

.ql-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50px !important;
}
