@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.gradient {
  background: linear-gradient(120deg, #ff6d4d, #d12600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #e85444 41%);
  background: linear-gradient(
        0deg,
        rgba(232, 84, 68, 0.5) 50%,
        rgba(232, 84, 68, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(232, 84, 68, 0.25) 50%,
        rgba(232, 84, 68, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
