@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.gradient {
  background: linear-gradient(120deg, #ff6d4d, #d12600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e37b0d 94%, #0000) top/6.4px 6.4px
      no-repeat,
    conic-gradient(#0000 30%, #e37b0d);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 6.4px),
    #000 0
  );
  animation: spinner-c7wet2 0.6s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.ql-toolbar {
  display: flex;
  position: sticky;
  top: 0;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ededef;
  z-index: 50;
}

.ql-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 100vh;
  margin-top: 10px;
}
